
    <div id="border-out">
        <div style="margin: 3% 10% 7% 10%; text-align:center">
            <br>

            <div> I changed the login password change password.</div>
            <div>* To the registered e-mail address</div>
            <div>Since confirmation mail was sent, please confirm.</div>
        </div>
    </div><br>

    <a href="@Url.Action("Index", "Login")" style="width: 15%; margin: 0 auto;" type="submit" class="btn btn-primary btn-lg btn-block">Go To My Home</a>