@model BookStore.Models.LoginModel
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <link rel="stylesheet" href="~/Content/Client/css/bootstrap.css" />
</head>
<body>
    <img src="~/Content/Client/image/logo.png" style="margin: 20px auto; display:block; width: 200px; height: auto">
    <div id="border-out">
        <div style="margin: 0 10% 5% 10%">
            <br>
            <h6>web order service</h6>
            <h6>login authentication <a href="#">for agents</a></h6><br>
            <div class="text-size">login authenticaiton is required to use this system.</div>
            <div class="text-size">please anter your id and password and login.</div><br>
            
            @using (Html.BeginForm("Login", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", "error");
                <div class="form-group">
                    @Html.TextBoxFor(model =>model.UserName, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "enter email" })
                    <!--<input type="email" class="form-control" placeholder="enter email">-->
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model =>model.Password, new { @class = "form-control", @placeholder = "password" })
                    <!--<input type="password" class="form-control" id="exampleinputpassword1" placeholder="password">-->
                </div>
                <div class="text-size" style="text-align:left">if you forget your password. we will re-issue your temporary password.</div>
                <div class="text-size" style="text-align:left">
                    <a href="#">please click here and</a>
                    enter the registered e-mail. when you can confirm the system, send a temporary password
                    to the entered mail address.
                </div><br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            }
        </div>
    </div>
</body>
</html>