
    <img src="~/asset/images/logo.png" style="margin: 0 auto; display:block">
    <div id="border-out">
        <div style="margin: 3% 10% 7% 10%; text-align:center">
            <br>

            <strong> Agencies </ strong> WEB order service <br /> Temporary password issuance completed </ p></strong>
            <div>I sent a temporary password to the input e-mail address.</div>
            <a href="@Html.ActionLink("Login", "User")">Login</a>
        </div>
    </div>
